{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Créer un nouveau groupe</h2>
                {{ form_start(form, {'attr': {'class': 'form'}}) }}
                <div class="mb-3">
                    {{ form_label(form.nom, 'Nom du groupe', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.nom) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.description) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.membres, 'Participants', {'label_attr': {'class': 'form-label'}}) }}
                    <div class="form-check">
                        {% for child in form.membres %}
                            <div class="mb-2">
                                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                        {% endfor %}
                    </div>
                    {{ form_errors(form.membres) }}
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


