{% extends 'base.html.twig' %}

{% block title %}Private Groups{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>Mes groupes privés</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom du groupe</th>
                        <th>Description</th>
                        <th>Participants</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

            {% for group in groups %}
                {% if group.membres.contains(user) %}
                    <tr>
                        <td>{{ group.nom }}</td>
                        <td>{{ group.description }}</td>
                        <td>
                            <ul>
                                {% for participant in group.membres %}
                                    <li>{{ participant.nom }} {{ participant.prenom }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <form method="POST" action="{{ path('app_group_delete', {'id': group.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce groupe ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{{ path('app_group_create') }}">Créer un nouveau groupe</a>
{% endblock %}
