{#{% extends 'base.html.twig' %}#}

{#{% block title %}Reset your password{% endblock %}#}

{#{% block body %}#}
{#    <h1>Reset your password</h1>#}

{#    {{ form_start(resetForm) }}#}
{#        {{ form_row(resetForm.plainPassword) }}#}
{#        <button class="btn btn-primary">Reset password</button>#}
{#    {{ form_end(resetForm) }}#}
{#{% endblock %}#}


{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    {% for message in app.flashes('reset_password_error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(resetForm) }}
    {{ form_errors(resetForm) }}

    <div class="mb-3">
        {{ form_widget(resetForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(resetForm.plainPassword) }}
    </div>

    <button type="submit" class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
