{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/monProfil.css') }}">
{% endblock %}


{% block body %}


<div class="mon_profil">
    <h6 class="display-6">Hello {{ app.user.prenom }} ! </h6>



    <img src="{{ asset('images/profil/'~app.user.photo ) }}" alt="Photo de profil" class="photo_profil">

    <ul class="list-group">
        <li class="list-group-item">Prenom : {{ app.user.prenom }}</li>
        <li class="list-group-item">Nom : {{ app.user.nom }}</li>
        <li class="list-group-item">Téléphone : {{ app.user.telephone }}</li>
        <li class="list-group-item">Email : {{ app.user.email }}</li>
        <li class="list-group-item">Ville de rattachement : {{ app.user.site.nom }}</li>
    </ul>

    <div class="button-container">
    <button class="btn btn-secondary"><a href="{{ path('app_main') }}">Retour</a></button>
    <button class="btn btn-primary"><a href="{{ path('app_updateprofil') }}">Modifier</a></button>
    </div>






</div>
{% endblock %}
