{% extends 'admin/index.html.twig' %}

{% block div %}

    <h2>Gestion des utilisateurs</h2>

    <button class="btn btn-secondary"><a href="{{ path('app_admin_utilisateur_add')}}">Ajouter un utilisateur</a></button>
    <button class="btn btn-secondary"><a href="{{ path('app_import_csv') }}">Import Utilisateurs Via Fichier CSV</a></button>
    <br><br>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Nom Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th>
            <th scope="col">Actif</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users|sort((a,b)=> a.nom <=> b.nom) %}
        <tr>
            <td>{{ user.nom }} {{ user.prenom }} </td>
            <td>{{ user.email }}</td>
            <td>{{ user.administrateur }}</td>
            <td>{{ user.actif }}</td>

            <td>
                {% if user.administrateur == 1 %}
                    <button class="btn btn-warning"><a href="{{ path('app_admin_utilisateurs_setRole',{'id': user.id}) }}">Passer User</a></button>
                {% else %}
                    <button class="btn btn-success"><a href="{{ path('app_admin_utilisateurs_setRole',{'id': user.id}) }}">Passer Admin</a></button>
                {% endif %}
                {% if user.actif == 1 %}
                    <button class="btn btn-warning"><a href="{{ path('app_admin_utilisteurs_actif',{'id': user.id}) }}">Passer Inactif</a></button>
                {% else %}
                    <button class="btn btn-success"><a href="{{ path('app_admin_utilisteurs_actif',{'id': user.id}) }}">Passer Actif</a></button>
                {% endif %}
                    <button class="btn btn-secondary"><a href="{{ path('app_admin_utilisateurs_update',{'id' : user.id }) }}">Modifier</a></button>
                    <button class="btn btn-danger"><a href="{{ path('app_admin_utilisateurs_delete',{'id' : user.id }) }}">Supprimer</a></button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
