{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ form_start(form, {'attr': {'class': 'mt-4'}}) }}
                <div class="form-group">
                    {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.dateHeureDebut, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.duree, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.dateLimiteInscription, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.nbInscriptionsmax, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.infosSortie, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.site, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.lieu, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary"><a href="{{ path('app_lieu_create') }}" style="color: white;">Créer lieu</a></button>
                </div>
                <div class="form-group">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
